[
  {rabbit, [
     {stunnel_listeners, [{"0.0.0.0",5671}]},
     {stunnel_options, [{cacertfile,"/etc/ssl/certs/ca.pem"},
                    {certfile,"/etc/stunnel/amqp.pem"},
                    {keyfile,"/etc/stunnel/amqp.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]}
   ]}
].
